<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pwc.explore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Miscellaneous"></activity>
        <activity
            android:name=".face.FaceEventActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".eyegaze.opencvshape.EyeGazeEventActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".eyegaze.opencvmaxarea.EyeGazeEventActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".eyegaze.opencvblob.EyeGazeEventActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".eyegaze.opencvsparseflow.EyeGazeEventActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".eyegaze.sparseflowSelection.EyeGazeEventActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".eyegaze.opencvsparseflowui.EyeGazeEventActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".eyegaze.opencvobjtrackingcsrt.EyeGazeEventActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".eyegaze.opencvsparseflowtest.EyeGazeEventActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".eyegaze.sparseflowSelection.Element1" />
        <activity android:name=".eyegaze.sparseflowSelection.Element2" />
        <activity android:name=".eyegaze.sparseflowSelection.Element3" />
    </application>

    <uses-feature android:name="android.hardware.Camera" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>